:host {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Para que el paginador esté al final */
  align-items: center;
  background-color: #eceef6;
  width: 100vw; /* Asegura que el ancho siempre ocupe toda la ventana */
  height: 100vh; /* Asegura que la altura ocupe toda la ventana */
  overflow-x: hidden; /* Evita el scroll horizontal */
}

.header {
  width: 100%;
  margin-left: 5vw;
}

.words-sphere {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-grow: 1; /* Permite que crezca ocupando el espacio disponible */
}

.words-sphere span {
  font-size: 1.5rem;
  cursor: pointer;
}

mat-paginator {
  width: 100%;
  align-self: flex-end;
  margin-top: auto;
  bottom: 0;
}
